params {
    input = "${projectDir}/assets/samplesheet.csv"
    // TODO index = "hg19_genome_index.fa"
    // TODO gene_bed = ""
    // TODO chrom_len = ""
}

plugins {
  id 'nf-schema@2.1.1'
}

profiles {
    test {
        params.input = "https://raw.githubusercontent.com/nf-core/nascent/master/assets/samplesheet.csv"
        docker.enabled = true
        process.container = 'docker://ghcr.io/functional-genomics-lab/active-enhancers:latest'
    }
}
